<%= form_for([@post, @post.comments.build]) do |c| %>
	<p> 
		<%= c.label :body, "Comentario" %> <br>
		<%= c.text_area :body, size: "35x8" %>
	</p>

	<p>
		<%= c.submit("Comentar") %>
	</p>
<% end %>