<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <div id="barra_menu">
  	<div class="links_barra">
  		<ul>
  			<li> <a href="/"> Inicio </a> </li>
  			<li> <a href="/posts"> Administrativa </a> </li>
  		</ul>

  		<div id="user_nav"> </div>
  	</div>
  </div>

</head>

<body align="center">
		<%= yield %>
</body>

	<footer id="footer">
		<div class="footer-copyright" style="height:95x">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<p> &reg; Copyright 2014 by Lesly Méndez C. </p>
						<p> Taller de Programacion </p>
					</div>
				</div>
			</div>
		</div>
	</footer>
</html>
